<h1>Editar Cerveja</h1>
<div layout="column"class="md-inline-form">
    <md-content   layout-padding class="">
        <div style="max-width: 500px">
            <form name="Form">
                <md-input-container class="md-block">
                    <label>Nome</label>
                    <input ng-model="beersUpdate.beer.name">
                </md-input-container>

                 <md-input-container class="md-block">
                    <label>Ingredientes</label>
                    <textarea  ng-model="beersUpdate.beer.ingredients"></textarea>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Conteúdo Alcoólico</label>
                    <input  ng-model="beersUpdate.beer.alcoholContent">
                </md-input-container>

                <md-input-container class="">
                    <label>Preço</label>
                    <input type="number"  ng-model="beersUpdate.beer.price">
                </md-input-container>
                <md-input-container class="">
                    <label>Categoria</label>
                    <input  ng-model="beersUpdate.beer.category">
                </md-input-container>
                <br/>
                <md-button class="md-raised md-warn" ng-click="beersUpdate.cancel()" > Cancelar </md-button>
                <md-button class="md-raised md-primary" ng-click="beersUpdate.update(beersUpdate.beer.id,beersUpdate.beer)"> Salvar </md-button>
        
            </form>
        </div>
    </md-content>
    <span>{{beersUpdate.msg}}</span>
   
</div>